
html, body {
	height: 100%;
}

body {
	color: rgb(0, 0, 0);
	max-width: 600px;
	min-width: 200px;
	margin: 0 auto;
	text-align: right;
	padding: 0 1em;
	display: flex;
	flex-direction: column;
}

a {
	text-decoration: none;
	color: rgb(84, 86, 4);}

a:hover {
	color: #545604;
	text-shadow: rgb(217, 219, 135) 1px 0px 0px, rgb(217, 219, 135) 0.540302px 0.841471px 0px, rgb(217, 219, 135) -0.416147px 0.909297px 0px, rgb(217, 219, 135) -0.989992px 0.14112px 0px, rgb(217, 219, 135) -0.653644px -0.756802px 0px, rgb(217, 219, 135) 0.283662px -0.958924px 0px, rgb(217, 219, 135) 0.96017px -0.279415px 0px;
}

header {
	border-bottom: 1px rgba(0, 0, 0, 0.15) solid;
	min-height: 5em;
	padding-top: 2em;
}

header>ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
header>ul>li {
	margin-left: .5em;
	cursor: pointer;
	height: 1.5em;
	transition: all .1s;
	color: rgb(84, 86, 4);
	text-shadow: rgb(255, 255, 255) 0px 0px 0px;
}

.selected {
	/* background-color: #545604; */
	/* height: 2em; */
	transition: all .2s;
	font-size: 120%;
	color: rgb(218, 219, 135);
	text-shadow: rgb(84, 86, 4) 2px 0px 0px, rgb(84, 86, 4) 1.75517px 0.958851px 0px, rgb(84, 86, 4) 1.0806px 1.68294px 0px, rgb(84, 86, 4) 0.141474px 1.99499px 0px, rgb(84, 86, 4) -0.832294px 1.81859px 0px, rgb(84, 86, 4) -1.60229px 1.19694px 0px, rgb(84, 86, 4) -1.97998px 0.28224px 0px, rgb(84, 86, 4) -1.87291px -0.701566px 0px, rgb(84, 86, 4) -1.30729px -1.5136px 0px, rgb(84, 86, 4) -0.421592px -1.95506px 0px, rgb(84, 86, 4) 0.567324px -1.91785px 0px, rgb(84, 86, 4) 1.41734px -1.41108px 0px, rgb(84, 86, 4) 1.92034px -0.558831px 0px;	
}


footer {
	padding: 1em 0;
	border-top: 1px rgba(0, 0, 0, 0.15) solid;
	color: rgb(84, 86, 4);
	flex-shrink: 0;
	margin-top: auto;
}

section {
	margin-top: 2em;
	opacity: 1;
	transition: opacity .5s;
}

#headline {
	font-size: 120%;
	margin-bottom: 2em;
}

#contact>p {
	position: relative;
	right: 5.2em;
	margin: .5em 0;
}

#contact>p:nth-child(4) {
	right: 0;
}

#contact>p>a {
	position: relative;
	/* right: 10em; */
}

.hidden {
	display: none;
	opacity: 0;
}

.project {
	/* border: 1px grey solid; */
	padding: 1em;
	margin-bottom: 4em;
}

.project>a {
	color: black;
    position: relative;
	top: 1.2em;
	margin-left: .5em;
}
h2 {
	margin: 0 0 .7em 0;
}
.cover {
	background-size: cover;
	padding: 1em;
	/* margin: 1em; */
	transition: all .2s ease-in-out;
	/* height: 4em; */
	/* overflow: hidden; */
}

.cover>h3 {
	background-color: rgba(255, 255, 255, 0.65);
	padding: .5em;
}

.extra {
	background-color: rgba(255, 255, 255, 0.65);
	padding: .5em;
	/* font-size: 85%; */
	/* transition: font-size .15s ease-in-out; */


	/* height: 0%;
	display: none;
    overflow: hidden;
	padding: 0;
	transition: all .25s ease-in-out; */
}

.project:hover .extra {
	/* font-size: 100%; */
	/* transition: font-size .15s ease-in-out; */
}

 .project:hover .cover {
	transform: scale(1.1);
	/* height: 18em; */


	/* height: 100%;
	display: block;
	transition: all .25s ease-in-out;
	background-color: rgba(255, 255, 255, 0.65);
	padding: .5em; */

}