
html, body {
	height: 100%;
	background-color: rgb(252, 253, 245);
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	line-height: 1.5em;
	color: rgb(0, 0, 0);
	max-width: 600px;
	min-width: 200px;
	margin: 0 auto;
	text-align: right;
	padding: 0 1em;
	display: flex;
	flex-direction: column;
}

a {
	text-decoration: none;
	border-bottom: rgb(255, 255, 255) 0em  solid;
	transition: border-bottom .2s ease-in;
}

a:hover {
	border-bottom: currentColor .1em solid;
	transition: border-bottom .2s ease-out;
}

header {
	border-bottom: 1px rgba(0, 0, 0, 0.15) solid;
	padding-top: .5em;
}

header>ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
header>ul>li {
	margin-left: .5em;
	cursor: pointer;
	height: 1.5em;
	transition: all .1s;
	color: rgb(84, 86, 4);
	text-shadow: rgb(255, 255, 255) 0px 0px 0px;
}

.selected {
	transition: all .35s;
	font-weight: 1000;
}

.selected>a {
	border-bottom: 	rgba(85, 86, 4, 0.726) .1em solid;
}

footer {
	padding: 1em 0;
	border-top: 1px rgba(0, 0, 0, 0.15) solid;
	color: rgb(84, 86, 4);
	flex-shrink: 0;
	margin-top: auto;
	font-size: .75em;
}

section {
	margin-top: 2em;
	margin-bottom: 2em;
	opacity: 1;
	transition: opacity .5s;
}

#headline {
	font-size: 120%;
	margin-bottom: 2em;
}

#contact>p {
	position: relative;
	right: 5.75em;
	margin: .5em 0;
}

#contact>p:nth-child(4) {
	right: 0;
}

#contact>p>a {
	position: relative;
	color: rgb(84, 86, 4);
}

.hidden {
	display: none;
	opacity: 0;
}

.project {
	padding: 1em;
	margin-bottom: 4em;
}

.project>a {
	color: black;
    position: relative;
	top: 1.2em;
	margin-left: .5em;
}

h2 {
	margin: 0 0 .7em 0;
}

.cover {
	background-size: cover;
	padding: 1em;
	min-height: 250px;
	transition: all .2s ease-in-out;
	overflow: hidden;
}

.project-text>h3, .extra {
    background-color: rgba(255, 255, 255, 0.75);
    color: rgb(0, 0, 0);
	padding: .5em;
	transition: all .5s ease-in-out;
}

.project-text {
	position: relative;
	transition: top .35s ease-in-out;
	top: 20em;
}

.project:hover .project-text>h3, .project:hover .extra {
	background-color: rgba(0, 0, 0, 0.75);
    color: rgb(217, 219, 135);
	transition: all .5s ease-in-out;
}

.project:hover .project-text {
	top: 1em !important;
	transition: top .35s ease-in-out;
}

 .project:hover .cover {
	transform: scale(1.1);
}


@media screen and (min-width: 350px) {
	.project-text {
		top:18em;
	}
}


@media screen and (min-width: 375px) {
	.project-text {
		top:17em;
	}
}

@media screen and (min-width: 425px) {
	.project-text {
		top:15em;
	}
}

@media screen and (min-width: 500px) {
	header>ul {
		flex-direction: row;
	}
	header {
		padding-top: 1em;
		/* height: 5em; */
	}
	.project-text {
		top:13em;
	}
}

@media screen and (min-width: 600px) {
	.project-text {
		top:12em;
	}
}